[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=WRS2024pre_preliminaries
Exec=bash -c  "source /home/ubuntu/ros2_ws/install/setup.bash; bash /home/ubuntu/choreonoid_env_setup/desktop/WRS2024pre_preliminaries.sh;bash"
#Icon=/home/ubuntu/Desktop/icon.png
Terminal=true
